<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <h2 class='form-signin-heading'>Edit <%= resource_name.to_s.humanize %></h2>

  <%= f.email_field :email, class: 'input-block-level',
      placeholder: 'Email address' %>
  <%= f.password_field :password, class: 'input-block-level',
      placeholder: 'Password' %>
  <span class="help-block">(leave blank if you don't want to change it)</span>
  <%= f.password_field :password_confirmation, class: 'input-block-level',
      placeholder: 'Password confirmation' %>
  <%= f.password_field :current_password, class: 'input-block-level',
      placeholder: 'Current password' %>
  <span class="help-block">(we need your current password to confirm your changes)</span>
  <%- if current_user.editor? -%>
    <%= f.label :role %>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize,
        class: 'input-block-level' %>
  <%- end -%>
  <%= f.submit "Update", class: 'btn btn-large btn-primary' %>
  <div>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

    <%= link_to "Back", :back %>
  </div>
<% end %>
