<article>
  <hgroup>
    <h1><%= article.title %></h1>
  </hgroup>
  <p><%= content_for article %></p>
  <p><%= render "metadata", article: article %></p>
  <br />
  <%- if user_signed_in? -%>
    <%- if can? :update, article -%>
      <%= link_to 'Edit', edit_article_path(article, type: type_for(article)) %>
    <%- end -%>
    <%- if can? :destroy, article -%>
      <%= link_to 'Destroy', article.becomes(Article), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%- end -%>
  <%- end -%>
</article>
