<%= form_for(@article, url: article_path(@article)) do |f| %>
  <fieldset>
    <legend><%= @title %></legend>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag :type, @type %>
    <%= f.label :title, Article.human_attribute_name(:title) %>
    <%= f.text_field :title %>
    <%= f.label :content, Article.human_attribute_name(:content) %>
    <%= f.text_area :content, rows: 10 %>
    <%= f.label :taxonomy, Taxonomy.model_name.human %>
    <%= f.collection_select :taxonomy_id, Taxonomy.all, :id, :name %>
    
    <%= render "form_fields", f: f %>

    <%= label_tag :save_as_draft, class: 'checkbox' do %>
      <%= check_box_tag :save_as_draft %> Save as Draft
    <% end %>

    <%= f.submit 'Save', class: 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', articles_path, class: 'btn btn-large' %>
  </fieldset>
<% end %>
