<%= form_for(@article, url: article_path(@article)) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :type, @type %>
  <div class="field">
    <%= f.label :headword %><br />
    <%= f.text_field :headword %>
  </div>
  <div class="field">
    <%= f.label :clarification %><br />
    <%= f.text_field :clarification %>
  </div>
  <div class="field">
    <%= f.label :xhtml %><br />
    <%= f.text_area :xhtml %>
  </div>
  <%= render "/articles/#{type_for @article}/form_fields", f: f %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
