<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= link_to 'Show', article.becomes(Article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article.becomes(Article)) %></td>
      <td><%= link_to 'Destroy', article.becomes(Article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= form_tag new_article_path, method: :get do %>
  <%= select_tag :type, options_for_select(ARTICLE_TYPES) %>
  <%= submit_tag 'New Article' %>
<%- end -%>
