<p id="notice"><%= notice %></p>

<p>
  <strong>Headword:</strong>
  <%= @article.headword %>
</p>

<p>
  <strong>Clarification:</strong>
  <%= @article.clarification %>
</p>

<p>
  <strong>Xhtml:</strong>
  <%= @article.xhtml %>
</p>

<%= render "/articles/#{@type.split('::').last.downcase}/metadata" %>

<%= link_to 'Edit', edit_article_path(@article, type: @article.type) %> |
<%= link_to 'Back', articles_path %>
