<div class="field">
  <%= f.label :pronunciation %><br />
  <%= f.text_field :pronunciation %>
</div>
<div class="field">
  <%= f.label :firstname %><br />
  <%= f.text_field :firstname %>
</div>
<div class="field">
  <%= f.label :lastname %><br />
  <%= f.text_field :lastname %>
</div>
