<div class="field">
  <%= f.label :pronunciation %><br />
  <%= f.text_field :pronunciation %>
</div>
<div class="field">
  <%= f.label :official_name %><br />
  <%= f.text_field :official_name %>
</div>
<div class="field">
  <%= f.label :norwegian_name %><br />
  <%= f.text_field :norwegian_name %>
</div>
<div class="field">
  <%= f.label :capital %><br />
  <%= f.text_field :capital %>
</div>
<div class="field">
  <%= f.label :form_of_government %><br />
  <%= f.text_field :form_of_government %>
</div>
<div class="field">
  <%= f.label :area %><br />
  <%= f.text_field :area %>
</div>
<div class="field">
  <%= f.label :population %><br />
  <%= f.text_field :population %>
</div>
<div class="field">
  <%= f.label :population_density %><br />
  <%= f.text_field :population_density %>
</div>
<div class="field">
  <%= f.label :official_language %><br />
  <%= f.text_field :official_language %>
</div>
<div class="field">
  <%= f.label :religion %><br />
  <%= f.text_field :religion %>
</div>
<div class="field">
  <%= f.label :national_day %><br />
  <%= f.text_field :national_day %>
</div>
<div class="field">
  <%= f.label :head_of_state %><br />
  <%= f.text_field :head_of_state %>
</div>
<div class="field">
  <%= f.label :prime_minister %><br />
  <%= f.text_field :prime_minister %>
</div>
<div class="field">
  <%= f.label :currency %><br />
  <%= f.text_field :currency %>
</div>
