<h1>Listing taxonomies</h1>

<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Parents</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @taxonomies.each do |taxonomy| %>
    <tr>
      <%- ancestors = taxonomy.is_root? ? 'Root' : taxonomy.ancestors.map(&:name).join(', ') -%>
      <td><%= ancestors %></td>
      <td><%= link_to taxonomy.name, taxonomy %></td>
      <td><%= link_to 'Edit', edit_taxonomy_path(taxonomy) %></td>
      <td><%= link_to 'Destroy', taxonomy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Taxonomy', new_taxonomy_path, class: 'btn btn-large btn-primary' %>
